<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @curriculum.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @curriculum.user %>
</p>

<p>
  <strong>Facts:</strong>
  <% @curriculum.facts.each do |fact| %>
    <%= fact.title %>
  <%- end %>
</p>

<%= link_to 'Edit', edit_curriculum_path(@curriculum) %> |
<%= link_to 'Back', curriculums_path %>
