<%= form_tag charges_path do %>
  <article>
    <label class="amount">
      <span>Amount: $9.00</span>
    </label>
  </article>
  <input type='text' name='first_name' id='first_name' placeholder='First Name'>
  <input type='text' name='last_name' id='last_name' placeholder='Last Name'>
  <input type='password' name='password' id='password' placeholder='password'>
  <select  name="plan" id="plan">
    <%= @plans.each do |plan| %>
      <option value='<%= plan[:plan] %>'><%= plan[:cost] %></option>
    <% end %>
  </select>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="900"></script>
<% end %>
